/*estilos generales*/
body {
    font-family: cursive,  sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content:  center;
    align-items: center;
    background-color: #ecacc7;
}

/*Estilos al contenedor principal*/
#app {
    background-image: url("../img/mymelody.jpeg");
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*estilos para el formulario*/
form{
    display: flex;
    justify-content: space-between;
}

/* estilos al input*/
input {
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

/*estilos al boton*/
button {
    padding: 5px 8px;
    background-color: #f79dc2;
    color: rgb(245, 240, 247);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/*estilos de la lista*/
ul {
    list-style: none;
    padding: 0;
    border-radius: 15px;
}

/*estilos a los elementos de la lista*/
li {
    background-color: #f4f4f4;
    padding: 10px;
    width: 400px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

/*estilos para cuando no esta completada*/
li.completed {
    text-decoration: line-through;
    color: #888;
}